<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>
      Nomad News |
      
        Popular
      
  </title>
</head>

<body>
 <header>
    <h1>Nomad News</h1>
    <div>
      Order by:
      
        <strong>Popular</strong>
      
      |
      
        <a href="/?order_by=new">New</a>
      
    </div>
  </header>
  <main>
      <!-- {% for potato in jobs %}
        <span>{{potato.title}}</span>
        <span>{{potato.company}}</span>
        <span>{{potato.location}}</span>
        <a href="{{potato.link}}" target="_blank">Apply</a>
      {% endfor %}  -->
      <!-- link,title,points,author,num_comments,obj_id -->
      {% for a in results %}
        <div>
          <a href="/{{potato.obj_id}}">
            <h3>{{a.title}}</h3>
          </a>
          (<a href="{{a.link}}" target="_blanl">{{a.link}}</a>)
        </div>
        <div>
            {{potato.points}} points | By: {{potato.author}} | {{potato.num_comments}} comments
        </div>
        <div>
          <hr>
        </div>
      {% endfor %} 
    
  </main> 


  
</body>

</html>